In [1]:
using CSV

In [2]:
df = CSV.read("car data.csv")

301×9 DataFrames.DataFrame. Omitted printing of 4 columns
│ Row │ Car_Name      │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String        │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼───────────────┼───────┼───────────────┼───────────────┼────────────┤
│ 1   │ ritz          │ 2014  │ 3.35          │ 5.59          │ 27000      │
│ 2   │ sx4           │ 2013  │ 4.75          │ 9.54          │ 43000      │
│ 3   │ ciaz          │ 2017  │ 7.25          │ 9.85          │ 6900       │
│ 4   │ wagon r       │ 2011  │ 2.85          │ 4.15          │ 5200       │
│ 5   │ swift         │ 2014  │ 4.6           │ 6.87          │ 42450      │
│ 6   │ vitara brezza │ 2018  │ 9.25          │ 9.83          │ 2071       │
│ 7   │ ciaz          │ 2015  │ 6.75          │ 8.12          │ 18796      │
│ 8   │ s cross       │ 2015  │ 6.5           │ 8.61          │ 33429      │
│ 9   │ ciaz          │ 2016  │ 8.75          │ 8.89          │ 20273      │
│ 10  │ ciaz          │ 2015  │ 7.45          │ 8.92          │ 42367      │
⋮
│ 291 │ amaze         │ 2014  │ 4.5           │ 6.4           │ 19000      │
│ 292 │ brio          │ 2015  │ 5.4           │ 6.1           │ 31427      │
│ 293 │ jazz          │ 2016  │ 6.4           │ 8.4           │ 12000      │
│ 294 │ city          │ 2010  │ 3.25          │ 9.9           │ 38000      │
│ 295 │ amaze         │ 2014  │ 3.75          │ 6.8           │ 33019      │
│ 296 │ city          │ 2015  │ 8.55          │ 13.09         │ 60076      │
│ 297 │ city          │ 2016  │ 9.5           │ 11.6          │ 33988      │
│ 298 │ brio          │ 2015  │ 4.0           │ 5.9           │ 60000      │
│ 299 │ city          │ 2009  │ 3.35          │ 11.0          │ 87934      │
│ 300 │ city          │ 2017  │ 11.5          │ 12.5          │ 9000       │
│ 301 │ brio          │ 2016  │ 5.3           │ 5.9           │ 5464       │

In [3]:
using DataFrames

In [4]:
df = collect(skipmissing(eachrow(df)))

301-element Array{DataFrameRow{DataFrame,DataFrames.Index},1}:
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 1   │ ritz     │ 2014  │ 3.35          │ 5.59          │ 27000      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 2   │ sx4      │ 2013  │ 4.75          │ 9.54          │ 43000      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 3   │ ciaz     │ 2017  │ 7.25          │ 9.85          │ 6900       │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 4   │ wagon r  │ 2011  │ 2.85          │ 4.15          │ 5200       │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 5   │ swift    │ 2014  │ 4.6           │ 6.87          │ 42450      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name      │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String        │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼───────────────┼───────┼───────────────┼───────────────┼────────────┤
│ 6   │ vitara brezza │ 2018  │ 9.25          │ 9.83          │ 2071       │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 7   │ ciaz     │ 2015  │ 6.75          │ 8.12          │ 18796      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 8   │ s cross  │ 2015  │ 6.5           │ 8.61          │ 33429      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 9   │ ciaz     │ 2016  │ 8.75          │ 8.89          │ 20273      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 10  │ ciaz     │ 2015  │ 7.45          │ 8.92          │ 42367      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 11  │ alto 800 │ 2017  │ 2.85          │ 3.6           │ 2135       │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 12  │ ciaz     │ 2015  │ 6.85          │ 10.38         │ 51000      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 13  │ ciaz     │ 2015  │ 7.5           │ 9.94          │ 15000      │
 ⋮
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 290 │ city     │ 2016  │ 10.11         │ 13.6          │ 10980      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 291 │ amaze    │ 2014  │ 4.5           │ 6.4           │ 19000      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 292 │ brio     │ 2015  │ 5.4           │ 6.1           │ 31427      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 293 │ jazz     │ 2016  │ 6.4           │ 8.4           │ 12000      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 294 │ city     │ 2010  │ 3.25          │ 9.9           │ 38000      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 295 │ amaze    │ 2014  │ 3.75          │ 6.8           │ 33019      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 296 │ city     │ 2015  │ 8.55          │ 13.09         │ 60076      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 297 │ city     │ 2016  │ 9.5           │ 11.6          │ 33988      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 298 │ brio     │ 2015  │ 4.0           │ 5.9           │ 60000      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 299 │ city     │ 2009  │ 3.35          │ 11.0          │ 87934      │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 300 │ city     │ 2017  │ 11.5          │ 12.5          │ 9000       │
 DataFrameRow. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 301 │ brio     │ 2016  │ 5.3           │ 5.9           │ 5464       │

In [5]:
typeof(df)

Array{DataFrameRow{DataFrame,DataFrames.Index},1}

In [6]:
df = DataFrame(df)

301×9 DataFrame. Omitted printing of 4 columns
│ Row │ Car_Name      │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String        │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼───────────────┼───────┼───────────────┼───────────────┼────────────┤
│ 1   │ ritz          │ 2014  │ 3.35          │ 5.59          │ 27000      │
│ 2   │ sx4           │ 2013  │ 4.75          │ 9.54          │ 43000      │
│ 3   │ ciaz          │ 2017  │ 7.25          │ 9.85          │ 6900       │
│ 4   │ wagon r       │ 2011  │ 2.85          │ 4.15          │ 5200       │
│ 5   │ swift         │ 2014  │ 4.6           │ 6.87          │ 42450      │
│ 6   │ vitara brezza │ 2018  │ 9.25          │ 9.83          │ 2071       │
│ 7   │ ciaz          │ 2015  │ 6.75          │ 8.12          │ 18796      │
│ 8   │ s cross       │ 2015  │ 6.5           │ 8.61          │ 33429      │
│ 9   │ ciaz          │ 2016  │ 8.75          │ 8.89          │ 20273      │
│ 10  │ ciaz          │ 2015  │ 7.45          │ 8.92          │ 42367      │
⋮
│ 291 │ amaze         │ 2014  │ 4.5           │ 6.4           │ 19000      │
│ 292 │ brio          │ 2015  │ 5.4           │ 6.1           │ 31427      │
│ 293 │ jazz          │ 2016  │ 6.4           │ 8.4           │ 12000      │
│ 294 │ city          │ 2010  │ 3.25          │ 9.9           │ 38000      │
│ 295 │ amaze         │ 2014  │ 3.75          │ 6.8           │ 33019      │
│ 296 │ city          │ 2015  │ 8.55          │ 13.09         │ 60076      │
│ 297 │ city          │ 2016  │ 9.5           │ 11.6          │ 33988      │
│ 298 │ brio          │ 2015  │ 4.0           │ 5.9           │ 60000      │
│ 299 │ city          │ 2009  │ 3.35          │ 11.0          │ 87934      │
│ 300 │ city          │ 2017  │ 11.5          │ 12.5          │ 9000       │
│ 301 │ brio          │ 2016  │ 5.3           │ 5.9           │ 5464       │

In [7]:
using Lathe.preprocess
train, test = TrainTestSplit(df, .75)

(220×9 DataFrame. Omitted printing of 4 columns
│ Row │ Car_Name      │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String        │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼───────────────┼───────┼───────────────┼───────────────┼────────────┤
│ 1   │ ritz          │ 2014  │ 3.35          │ 5.59          │ 27000      │
│ 2   │ sx4           │ 2013  │ 4.75          │ 9.54          │ 43000      │
│ 3   │ ciaz          │ 2017  │ 7.25          │ 9.85          │ 6900       │
│ 4   │ swift         │ 2014  │ 4.6           │ 6.87          │ 42450      │
│ 5   │ vitara brezza │ 2018  │ 9.25          │ 9.83          │ 2071       │
│ 6   │ ciaz          │ 2015  │ 6.75          │ 8.12          │ 18796      │
│ 7   │ s cross       │ 2015  │ 6.5           │ 8.61          │ 33429      │
│ 8   │ ciaz          │ 2016  │ 8.75          │ 8.89          │ 20273      │
│ 9   │ alto 800      │ 2017  │ 2.85          │ 3.6           │ 2135       │
│ 10  │ ciaz          │ 2015  │ 6.85          │ 10.38         │ 51000      │
⋮
│ 210 │ amaze         │ 2015  │ 5.75          │ 7.5           │ 44000      │
│ 211 │ city          │ 2015  │ 8.4           │ 13.6          │ 34000      │
│ 212 │ city          │ 2016  │ 10.11         │ 13.6          │ 10980      │
│ 213 │ amaze         │ 2014  │ 4.5           │ 6.4           │ 19000      │
│ 214 │ brio          │ 2015  │ 5.4           │ 6.1           │ 31427      │
│ 215 │ jazz          │ 2016  │ 6.4           │ 8.4           │ 12000      │
│ 216 │ amaze         │ 2014  │ 3.75          │ 6.8           │ 33019      │
│ 217 │ city          │ 2016  │ 9.5           │ 11.6          │ 33988      │
│ 218 │ brio          │ 2015  │ 4.0           │ 5.9           │ 60000      │
│ 219 │ city          │ 2009  │ 3.35          │ 11.0          │ 87934      │
│ 220 │ brio          │ 2016  │ 5.3           │ 5.9           │ 5464       │, 81×9 DataFrame. Omitted printing of 4 columns
│ Row │ Car_Name │ Year  │ Selling_Price │ Present_Price │ Kms_Driven │
│     │ String   │ Int64 │ Float64       │ Float64       │ Int64      │
├─────┼──────────┼───────┼───────────────┼───────────────┼────────────┤
│ 1   │ wagon r  │ 2011  │ 2.85          │ 4.15          │ 5200       │
│ 2   │ ciaz     │ 2015  │ 7.45          │ 8.92          │ 42367      │
│ 3   │ ertiga   │ 2015  │ 6.1           │ 7.71          │ 26000      │
│ 4   │ sx4      │ 2010  │ 2.65          │ 7.98          │ 41442      │
│ 5   │ alto k10 │ 2016  │ 2.85          │ 3.95          │ 25000      │
│ 6   │ sx4      │ 2011  │ 4.4           │ 8.01          │ 50000      │
│ 7   │ wagon r  │ 2013  │ 2.9           │ 4.41          │ 56879      │
│ 8   │ sx4      │ 2011  │ 2.95          │ 7.74          │ 49998      │
│ 9   │ sx4      │ 2008  │ 1.95          │ 7.15          │ 58000      │
│ 10  │ dzire    │ 2014  │ 5.5           │ 8.06          │ 45780      │
⋮
│ 71  │ creta    │ 2016  │ 12.9          │ 13.6          │ 35934      │
│ 72  │ brio     │ 2016  │ 5.5           │ 5.97          │ 5600       │
│ 73  │ amaze    │ 2015  │ 4.0           │ 5.8           │ 40023      │
│ 74  │ jazz     │ 2016  │ 6.6           │ 7.7           │ 16002      │
│ 75  │ brio     │ 2017  │ 4.8           │ 5.8           │ 19000      │
│ 76  │ city     │ 2015  │ 6.7           │ 10.0          │ 18828      │
│ 77  │ city     │ 2009  │ 3.0           │ 10.0          │ 69562      │
│ 78  │ brio     │ 2013  │ 3.5           │ 5.9           │ 9800       │
│ 79  │ city     │ 2010  │ 3.25          │ 9.9           │ 38000      │
│ 80  │ city     │ 2015  │ 8.55          │ 13.09         │ 60076      │
│ 81  │ city     │ 2017  │ 11.5          │ 12.5          │ 9000       │)

In [8]:
target = :Present_Price
feature1 = :Year
feature2 = :Kms_Driven

:Kms_Driven

In [9]:
trainy = train[!,target]
testy = test[!,target]
trainX1 = train[!,feature1]
trainX2 = train[!,feature2]
testX1 = test[!,feature1]
testX2 = test[!,feature2]

81-element Array{Int64,1}:
  5200
 42367
 26000
 41442
 25000
 50000
 56879
 49998
 58000
 45780
 65000
 25870
 15000
     ⋮
 17000
 35934
  5600
 40023
 16002
 19000
 18828
 69562
  9800
 38000
 60076
  9000

In [10]:
using Lathe.models
model1 = LinearRegression(trainX1,trainy)
model2 = LinearRegression(trainX2,trainy)

#7 (generic function with 1 method)

In [11]:
yhat1 = model1.predict(testX1)

81-element Array{Float64,1}:
 7.561405561332165
 7.750725745455426
 7.750725745455426
 7.514075515301357
 7.7980557914862345
 7.561405561332165
 7.656065653393796
 7.561405561332165
 7.419415423239727
 7.703395699424604
 7.324755331178096
 7.750725745455426
 7.845385837517043
 ⋮
 7.7980557914862345
 7.7980557914862345
 7.7980557914862345
 7.750725745455426
 7.7980557914862345
 7.845385837517043
 7.750725745455426
 7.466745469270535
 7.656065653393796
 7.514075515301357
 7.750725745455426
 7.845385837517043

In [12]:
yhat2 = model2.predict(testX2)

81-element Array{Float64,1}:
  5.389545369065091
  8.185717015118849
  6.9543843455205
  8.116126820252443
  6.879151702421682
  8.759967779892126
  9.277493131768892
  8.759817314605927
  9.361828924682666
  8.442486026015114
  9.88845742637439
  6.944604101917653
  6.126825271433505
  ⋮
  6.27729055763114
  7.701745422064155
  5.419638426304618
  8.00937169969522
  6.20220837981852
  6.427755843828776
  6.4148158292157795
 10.231668744191197
  5.735615527319653
  7.857176062706312
  9.518011891755812
  5.675429412840598

In [13]:
using Lathe.stats
println("Model one accuracy: ", mae(yhat1,testy))
println("Model two accuracy: ", mae(yhat2,testy))

Model one accuracy: 0.2129770421056951
Model two accuracy: 0.5555487329675662

In [14]:
println(mean(testy))

7.474641975308641

In [16]:
yhati = [mean([pred1,pred2]) for (pred1,pred2) in zip(yhat1,yhat2)]

81-element Array{Float64,1}:
 6.475475465198628
 7.968221380287138
 7.352555045487963
 7.8151011677769
 7.338603746953958
 8.160686670612145
 8.466779392581344
 8.160611437969045
 8.390622173961196
 8.07294086271986
 8.606606378776243
 7.34766492368654
 6.986105554475274
 ⋮
 7.037673174558687
 7.749900606775195
 6.608847108895427
 7.8800487225753235
 7.000132085652377
 7.13657084067291
 7.082770787335603
 8.849207106730866
 6.695840590356724
 7.685625789003835
 8.634368818605619
 6.7604076251788205

In [17]:
println("Model one accuracy: ", mae(yhat1,testy))
println("Model two accuracy: ", mae(yhat2,testy))
println("Combined accuracy: ", mae(yhati,testy))

Model one accuracy: 0.2129770421056951
Model two accuracy: 0.5555487329675662
Combined accuracy: 0.384262887536631

In [18]:
using JLD2

┌ Info: Precompiling JLD2 [033835bb-8acc-5ee8-8aae-3f567f8a3819]
└ @ Base loading.jl:1260

In [19]:
@save "mdl.jld2" model1