In [1]:
using CSV
df = CSV.read("Summary of Weather.csv")

119040×31 DataFrames.DataFrame. Omitted printing of 25 columns
│ Row    │ STA   │ Date       │ Precip │ WindGustSpd │ MaxTemp │ MinTemp │
│        │ Int64 │ Dates.Date │ String │ Float64⍰    │ Float64 │ Float64 │
├────────┼───────┼────────────┼────────┼─────────────┼─────────┼─────────┤
│ 1      │ 10001 │ 1942-07-01 │ 1.016  │ missing     │ 25.5556 │ 22.2222 │
│ 2      │ 10001 │ 1942-07-02 │ 0      │ missing     │ 28.8889 │ 21.6667 │
│ 3      │ 10001 │ 1942-07-03 │ 2.54   │ missing     │ 26.1111 │ 22.2222 │
│ 4      │ 10001 │ 1942-07-04 │ 2.54   │ missing     │ 26.6667 │ 22.2222 │
│ 5      │ 10001 │ 1942-07-05 │ 0      │ missing     │ 26.6667 │ 21.6667 │
│ 6      │ 10001 │ 1942-07-06 │ 0      │ missing     │ 26.6667 │ 21.6667 │
│ 7      │ 10001 │ 1942-07-07 │ T      │ missing     │ 28.3333 │ 22.7778 │
│ 8      │ 10001 │ 1942-07-08 │ 3.556  │ missing     │ 26.6667 │ 22.2222 │
│ 9      │ 10001 │ 1942-07-09 │ T      │ missing     │ 27.2222 │ 22.7778 │
│ 10     │ 10001 │ 1942-07-10 │ 3.556  │ missing     │ 25.5556 │ 21.6667 │
⋮
│ 119030 │ 82506 │ 1945-12-21 │ 0      │ missing     │ 28.8889 │ 18.8889 │
│ 119031 │ 82506 │ 1945-12-22 │ 0      │ missing     │ 28.8889 │ 17.2222 │
│ 119032 │ 82506 │ 1945-12-23 │ T      │ missing     │ 28.3333 │ 18.3333 │
│ 119033 │ 82506 │ 1945-12-24 │ 0      │ missing     │ 28.3333 │ 20.0    │
│ 119034 │ 82506 │ 1945-12-25 │ 0.508  │ missing     │ 28.8889 │ 18.8889 │
│ 119035 │ 82506 │ 1945-12-26 │ 0      │ missing     │ 29.4444 │ 18.8889 │
│ 119036 │ 82506 │ 1945-12-27 │ 0      │ missing     │ 28.3333 │ 18.3333 │
│ 119037 │ 82506 │ 1945-12-28 │ 9.906  │ missing     │ 29.4444 │ 18.3333 │
│ 119038 │ 82506 │ 1945-12-29 │ 0      │ missing     │ 28.3333 │ 18.3333 │
│ 119039 │ 82506 │ 1945-12-30 │ 0      │ missing     │ 28.3333 │ 18.3333 │
│ 119040 │ 82506 │ 1945-12-31 │ 0      │ missing     │ 29.4444 │ 17.2222 │

In [2]:
using DataFrames
using Dates

In [3]:
df.Date = [i = DateTime(i) for i in df.Date]

119040-element Array{DateTime,1}:
 1942-07-01T00:00:00
 1942-07-02T00:00:00
 1942-07-03T00:00:00
 1942-07-04T00:00:00
 1942-07-05T00:00:00
 1942-07-06T00:00:00
 1942-07-07T00:00:00
 1942-07-08T00:00:00
 1942-07-09T00:00:00
 1942-07-10T00:00:00
 1942-07-11T00:00:00
 1942-07-12T00:00:00
 1942-07-13T00:00:00
 ⋮
 1945-12-20T00:00:00
 1945-12-21T00:00:00
 1945-12-22T00:00:00
 1945-12-23T00:00:00
 1945-12-24T00:00:00
 1945-12-25T00:00:00
 1945-12-26T00:00:00
 1945-12-27T00:00:00
 1945-12-28T00:00:00
 1945-12-29T00:00:00
 1945-12-30T00:00:00
 1945-12-31T00:00:00

In [4]:
df.Date = [i = year(i) for i in df.Date]

119040-element Array{Int64,1}:
 1942
 1942
 1942
 1942
 1942
 1942
 1942
 1942
 1942
 1942
 1942
 1942
 1942
    ⋮
 1945
 1945
 1945
 1945
 1945
 1945
 1945
 1945
 1945
 1945
 1945
 1945

In [5]:
df = DataFrame(:Date => df.Date,:Precipitation => df.Precip,:Temp => df.MeanTemp)

119040×3 DataFrame
│ Row    │ Date  │ Precipitation │ Temp    │
│        │ Int64 │ String        │ Float64 │
├────────┼───────┼───────────────┼─────────┤
│ 1      │ 1942  │ 1.016         │ 23.8889 │
│ 2      │ 1942  │ 0             │ 25.5556 │
│ 3      │ 1942  │ 2.54          │ 24.4444 │
│ 4      │ 1942  │ 2.54          │ 24.4444 │
│ 5      │ 1942  │ 0             │ 24.4444 │
│ 6      │ 1942  │ 0             │ 24.4444 │
│ 7      │ 1942  │ T             │ 25.5556 │
│ 8      │ 1942  │ 3.556         │ 24.4444 │
│ 9      │ 1942  │ T             │ 25.0    │
│ 10     │ 1942  │ 3.556         │ 23.3333 │
⋮
│ 119030 │ 1945  │ 0             │ 23.8889 │
│ 119031 │ 1945  │ 0             │ 23.3333 │
│ 119032 │ 1945  │ T             │ 23.3333 │
│ 119033 │ 1945  │ 0             │ 24.4444 │
│ 119034 │ 1945  │ 0.508         │ 23.8889 │
│ 119035 │ 1945  │ 0             │ 24.4444 │
│ 119036 │ 1945  │ 0             │ 23.3333 │
│ 119037 │ 1945  │ 9.906         │ 23.8889 │
│ 119038 │ 1945  │ 0             │ 23.3333 │
│ 119039 │ 1945  │ 0             │ 23.3333 │
│ 119040 │ 1945  │ 0             │ 23.3333 │

In [6]:
println(minimum(df.Date))
println(maximum(df.Date))

1940
1945

In [7]:
high_dfy = df[(df[:Date].>=1944),:]

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[7]:1
└ @ Core In[7]:1

78737×3 DataFrame
│ Row   │ Date  │ Precipitation │ Temp    │
│       │ Int64 │ String        │ Float64 │
├───────┼───────┼───────────────┼─────────┤
│ 1     │ 1944  │ 0             │ 27.7778 │
│ 2     │ 1944  │ 0             │ 27.7778 │
│ 3     │ 1944  │ 5.334         │ 27.2222 │
│ 4     │ 1944  │ 0             │ 27.2222 │
│ 5     │ 1944  │ 0             │ 27.2222 │
│ 6     │ 1944  │ 1.778         │ 25.0    │
│ 7     │ 1944  │ 0             │ 26.6667 │
│ 8     │ 1944  │ 0             │ 27.7778 │
│ 9     │ 1944  │ 0             │ 27.7778 │
│ 10    │ 1944  │ 0             │ 27.7778 │
⋮
│ 78727 │ 1945  │ 0             │ 23.8889 │
│ 78728 │ 1945  │ 0             │ 23.3333 │
│ 78729 │ 1945  │ T             │ 23.3333 │
│ 78730 │ 1945  │ 0             │ 24.4444 │
│ 78731 │ 1945  │ 0.508         │ 23.8889 │
│ 78732 │ 1945  │ 0             │ 24.4444 │
│ 78733 │ 1945  │ 0             │ 23.3333 │
│ 78734 │ 1945  │ 9.906         │ 23.8889 │
│ 78735 │ 1945  │ 0             │ 23.3333 │
│ 78736 │ 1945  │ 0             │ 23.3333 │
│ 78737 │ 1945  │ 0             │ 23.3333 │

In [8]:
using Lathe.stats: f_test

In [9]:
independent_t(high_dfy.Temp,df.Temp)

UndefVarError: UndefVarError: independent_t not defined

In [10]:
using Lathe.preprocess: TrainTestSplit

In [11]:
train,test = TrainTestSplit(df)

(89200×3 DataFrame
│ Row   │ Date  │ Precipitation │ Temp    │
│       │ Int64 │ String        │ Float64 │
├───────┼───────┼───────────────┼─────────┤
│ 1     │ 1942  │ 1.016         │ 23.8889 │
│ 2     │ 1942  │ 2.54          │ 24.4444 │
│ 3     │ 1942  │ 0             │ 24.4444 │
│ 4     │ 1942  │ 0             │ 24.4444 │
│ 5     │ 1942  │ T             │ 25.5556 │
│ 6     │ 1942  │ 3.556         │ 24.4444 │
│ 7     │ 1942  │ T             │ 25.0    │
│ 8     │ 1942  │ 3.556         │ 23.3333 │
│ 9     │ 1942  │ 0             │ 23.8889 │
│ 10    │ 1942  │ 0             │ 24.4444 │
⋮
│ 89190 │ 1945  │ 0             │ 25.5556 │
│ 89191 │ 1945  │ 0             │ 25.5556 │
│ 89192 │ 1945  │ 19.812        │ 25.0    │
│ 89193 │ 1945  │ 0             │ 23.8889 │
│ 89194 │ 1945  │ 0             │ 23.3333 │
│ 89195 │ 1945  │ T             │ 23.3333 │
│ 89196 │ 1945  │ 0             │ 24.4444 │
│ 89197 │ 1945  │ 0             │ 23.3333 │
│ 89198 │ 1945  │ 9.906         │ 23.8889 │
│ 89199 │ 1945  │ 0             │ 23.3333 │
│ 89200 │ 1945  │ 0             │ 23.3333 │, 29840×3 DataFrame
│ Row   │ Date  │ Precipitation │ Temp    │
│       │ Int64 │ String        │ Float64 │
├───────┼───────┼───────────────┼─────────┤
│ 1     │ 1942  │ 0             │ 25.5556 │
│ 2     │ 1942  │ 2.54          │ 24.4444 │
│ 3     │ 1942  │ 0             │ 23.3333 │
│ 4     │ 1942  │ 0.508         │ 23.3333 │
│ 5     │ 1942  │ 0             │ 24.4444 │
│ 6     │ 1942  │ T             │ 23.3333 │
│ 7     │ 1942  │ 0             │ 23.3333 │
│ 8     │ 1942  │ 0             │ 22.2222 │
│ 9     │ 1942  │ 0             │ 22.7778 │
│ 10    │ 1942  │ T             │ 23.8889 │
⋮
│ 29830 │ 1945  │ 24.384        │ 23.3333 │
│ 29831 │ 1945  │ 0.762         │ 23.3333 │
│ 29832 │ 1945  │ 0.762         │ 22.7778 │
│ 29833 │ 1945  │ 0.254         │ 25.5556 │
│ 29834 │ 1945  │ 0.762         │ 25.5556 │
│ 29835 │ 1945  │ 0             │ 25.0    │
│ 29836 │ 1945  │ 10.16         │ 22.2222 │
│ 29837 │ 1945  │ 0             │ 22.2222 │
│ 29838 │ 1945  │ 0.508         │ 23.8889 │
│ 29839 │ 1945  │ 0             │ 24.4444 │
│ 29840 │ 1945  │ 0             │ 23.3333 │)

In [19]:
target = :Temp
feature = :Date
trainX = train[feature]
trainy = train[target]
testX = test[feature]
testy = test[target]

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[19]:3
└ @ Core In[19]:3
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[19]:4
└ @ Core In[19]:4
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[19]:5
└ @ Core In[19]:5
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[19]:6
└ @ Core In[19]:6

29840-element Array{Float64,1}:
 25.55555556
 24.44444444
 23.33333333
 23.33333333
 24.44444444
 23.33333333
 23.33333333
 22.22222222
 22.77777778
 23.88888889
 23.33333333
 23.33333333
 22.22222222
  ⋮
 22.22222222
 23.33333333
 23.33333333
 22.77777778
 25.55555556
 25.55555556
 25.0
 22.22222222
 22.22222222
 23.88888889
 24.44444444
 23.33333333

In [27]:
using Lathe.models: LinearLeastSquare
using Lathe.preprocess: StandardScalar

In [29]:
model = LinearLeastSquare(StandardScalar(trainX),trainy,:REG)

LinearLeastSquare(Any[-0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926  …  0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521], [23.8889, 24.4444, 24.4444, 24.4444, 25.5556, 24.4444, 25.0, 23.3333, 23.8889, 24.4444  …  25.5556, 25.0, 23.8889, 23.3333, 23.3333, 24.4444, 23.3333, 23.8889, 23.3333, 23.3333], :REG)

In [30]:
using Lathe.models: predict
y_pred = predict(model,StandardScalar(testX))

29840-element Array{Any,1}:
 22.232087513675584
 22.232087513675584
 22.232087513675584
 22.232087513675584
 22.232087513675584
 22.232087513675584
 22.232087513675584
 22.232087513675584
 22.232087513675584
 22.232087513675584
 22.232087513675584
 22.232087513675584
 22.232087513675584
  ⋮
 22.48916310084232
 22.48916310084232
 22.48916310084232
 22.48916310084232
 22.48916310084232
 22.48916310084232
 22.48916310084232
 22.48916310084232
 22.48916310084232
 22.48916310084232
 22.48916310084232
 22.48916310084232

In [35]:
using Lathe.validate: mae,r2

In [38]:
mae(y_pred,testy)

0.10118477752343485

In [39]:
using Lathe.pipelines: Pipeline,pippredict
pipe = Pipeline([StandardScalar],model)

Pipeline(typeof(StandardScalar)[StandardScalar], LinearLeastSquare(Any[-0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926, -0.0409926  …  0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521, 0.0270521], [23.8889, 24.4444, 24.4444, 24.4444, 25.5556, 24.4444, 25.0, 23.3333, 23.8889, 24.4444  …  25.5556, 25.0, 23.8889, 23.3333, 23.3333, 24.4444, 23.3333, 23.8889, 23.3333, 23.3333], :REG))

In [40]:
pippredict(pipe,testy)

29840-element Array{Any,1}:
 24.830627196822824
 23.945404261108845
 23.060181333361864
 23.060181333361864
 23.945404261108845
 23.060181333361864
 23.060181333361864
 22.174958405614884
 22.61756987347188
 23.502792801218856
 23.060181333361864
 23.060181333361864
 22.174958405614884
  ⋮
 22.174958405614884
 23.060181333361864
 23.060181333361864
 22.61756987347188
 24.830627196822824
 24.830627196822824
 24.388015728965836
 22.174958405614884
 22.174958405614884
 23.502792801218856
 23.945404261108845
 23.060181333361864

In [43]:
using JLD2
@save "algorithm.jld2" pipe

In [44]:
@load "algorithm.jld2"

1-element Array{Symbol,1}:
 :pipe

In [45]:
pippredict(pipe,testy)

29840-element Array{Any,1}:
 24.830627196822824
 23.945404261108845
 23.060181333361864
 23.060181333361864
 23.945404261108845
 23.060181333361864
 23.060181333361864
 22.174958405614884
 22.61756987347188
 23.502792801218856
 23.060181333361864
 23.060181333361864
 22.174958405614884
  ⋮
 22.174958405614884
 23.060181333361864
 23.060181333361864
 22.61756987347188
 24.830627196822824
 24.830627196822824
 24.388015728965836
 22.174958405614884
 22.174958405614884
 23.502792801218856
 23.945404261108845
 23.060181333361864